################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Debug/
ipch/

*.bin
*.db
*.opendb
*.suo
*.user